.container{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    background-color: white;
    color: black;


    .menu{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: gray;
        position: fixed;
        flex-direction: column;
        height: 100%;
        left: 0;
        top: 0;
        width: 35vw;
        z-index: 2;

        & h1{
            white-space: wrap;
            font-size: 3rem;
            text-align: center;
        }

        .idCard{
            display: flex;
            flex-direction: column;
            place-items: center;
            gap: 1rem;
            position: relative;
            width: 90%;
            border: 2px solid black;
            padding: 4rem 2rem;
            border-radius: 10px;

            .avatarContainer{
                height: 100px;
                display: flex;
                place-items: center;
                border-radius:50%;
                border: black 1px solid;
                aspect-ratio: 1/1;
                background-size: cover;
            }

            .name{
                font-size: 2rem;
                text-align: center;
            }
            
            .btn{
            width: fit-content;
            padding: .5rem 1rem;
            text-transform: uppercase;
            font-size: 11px;
            border-radius: 30px;
            border: 1px solid white;
            background-color: transparent;
            cursor: pointer;
        }
        }

    }
        .nextpage{
        background-color: lightgray;
        width: 100%;
        position: relative;
        min-height: 100vh;
    }

}



/* tablet */
@media(max-width: 600px){
    .container{
    width: 100vw;
    min-height: 80vh;
    position: relative;
    height: auto;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;


    .menu{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: gray;
        position: relative;
        flex-direction: column;
        height: auto;
        min-height: 800px;
        width: 100vw;

        & h1{
            white-space: wrap;
            font-size: 3rem;
            text-align: center;
        }

        .idCard{
            display: flex;
            flex-direction: column;
            place-items: center;
            gap: 1rem;
            position: relative;
            width: 90%;
            border: 2px solid black;
            padding: 4rem 2rem;
            border-radius: 10px;

            .avatarContainer{
                height: 100px;
                display: flex;
                place-items: center;
                border-radius:50%;
                border: black 1px solid;
                aspect-ratio: 1/1;
                background-size: cover;
            }

            .name{
                font-size: 2rem;
                text-align: center;
            }
            
            .btn{
            width: fit-content;
            padding: .5rem 1rem;
            text-transform: uppercase;
            font-size: 11px;
            border-radius: 30px;
            border: 1px solid white;
            background-color: transparent;
            cursor: pointer;
        }


        }
    

    }
    .nextpage{
        min-height: 800px;
        height: auto;
        position: relative;
    }

}

}