@tailwind base;
@tailwind components;
@tailwind utilities;

/* CUSTOM FONTS */
.title-font{
  font-family: 'Plus Jakarta Sans', sans-serif ;
}
.primary-font{
      font-family: 'Plus Jakarta Sans', sans-serif ;
}
.secondary-font{
     font-family: 'Plus Jakarta Sans', sans-serif ;

}

