@tailwind base;
@tailwind components;
@tailwind utilities;

.title-font{
    font-family: 'Protest Revolution', sans-serif;
}
.primary-font{
    font-family: 'Manrope', sans-serif ;
}
.hover-style{
    color: black;
}
.hover-style:hover{
    fill: whitesmoke
}